@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="callAPI">Login with Google</button>
</div>

<script>
    document.getElementById("callAPI").addEventListener("click", function () {
        fetch("https://localhost:7030/api/Accounts/GoogleLogin", {
            method: 'POST',
            withCredentials: true,
            crossorigin: true,
            mode: 'no-cors',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // fetch("https://localhost:7030/api/Accounts/ExternalLoginResponse", {
            //     method: 'GET',
            //     withCredentials: true,
            //     crossorigin: true,
            //     mode: 'no-cors',
            // })
            // .then(response => response.json())
            // .then(data => console.log(data))
            // .catch(error => console.log(error));
        })
        .catch(error => console.log(error));
    });
</script>
